:root {
  --purple300: #8284fa;
  --purple500: #5e60ce;
  --blue300: #4ea8de;
  --blue500: #1e6f9f;

  --gray100: #f2f2f2;
  --gray200: #d9d9d9;
  --gray300: #808080;
  --gray400: #333333;
  --gray500: #262626;
  --gray600: #1a1a1a;
  --gray700: #0d0d0d;

  --white: #fff;
  --black: #000;

  --danger: #e25858;
}

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 140%;
  font-size: 1rem;

  background-color: var(--gray600);

  height: 100vh;
  width: 99vw;
}
